html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

@font-face {
    font-family: 'Samsung Sharp Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sharp Sans Regular'), url('.css/font/samsungsharpsans.woff') format('woff');
}


@font-face {
    font-family: 'Samsung Sharp Sans Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sharp Sans Medium'), url('.css/font/samsungsharpsans-medium.woff') format('woff');
}


@font-face {
    font-family: 'Samsung Sharp Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sharp Sans Bold'), url('.css/font/samsungsharpsans-bold.woff') format('woff');
}

@font-face {
    font-family: 'SamsungOne-400';
    font-style: normal;
    font-weight: normal;
    src: local('SamsungOne-400'), url('.css/font/SamsungOne-400.woff') format('woff');
}

@font-face {
    font-family: 'SamsungOne-700';
    font-style: normal;
    font-weight: normal;
    src: local('SamsungOne-700'), url('.css/font/SamsungOne-700.woff') format('woff');
}

body {
    padding-top: 82.5px;
    padding-bottom: 124px;
}

.icon-nav {
    height: 120%;
    width: auto;
}

li {
    z-index: 1;
    list-style-type: none;
}

.list-group {
    font-family: 'SamsungOne-400';
    font-size: 15px;
}

.navbar-brand {
    font-family: 'Samsung Sharp Sans Bold';
    font-size: 16px;
    color: black;
    margin-left: 24px;
}

.nav-link {
    font-family: 'SamsungOne-400';
    font-size: 11px;
}

.coba-nav {
    background-color: black !important;
    border : 0;
}

.mt-3a {
    margin-top: 0.75rem;
}

.mt-2a {
    margin-top: 0.75rem;
}

.navbar {
    background-color: #f7f7f7;
}

#lifestyle-img {
    height: auto;
    width: 100%;
    object-fit: contain;
}

.phone-img {
    background: url("../assets/image\ -\ phone@2x.png") no-repeat 30% 70%;
    background-size: cover;
}

#phone-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.mt-n6 {
    margin-top: 6rem;
}

.mt-n-1 {
    margin-top: -1rem;
}

.ms-n-1 {
    margin-left: -1.25rem;
}

.tnc {
    font-size: 10px;
    font-family: 'SamsungOne-700';
    letter-spacing: 2px;
    text-decoration-line: underline;
    font-weight: 700;
}

.steps-icon {
    z-index: 9;
    max-height: 54px;
    width: auto;
}

.steps {
    z-index: 1;
}

.steps-number {
    position: absolute;
    font-family: 'Samsung Sharp Sans Bold';
    font-size: 64px;
    color: #EEEEEE;
    z-index: 0;
    text-align: center;
    width: 200px;
    margin-top: -1rem;
}

.steps-desc {
    z-index: 1;
}


.mb-n4 {
    margin-bottom: 2.5rem;
}

.mt-n4 {
    margin-top: 2.5rem;
}

#samsung-care-desc {
    font-family: 'SamsungOne-400';
    font-size: 20px;
    color: black;
}

.h1 {
    font-family: 'Samsung Sharp Sans Bold';
    margin: 0px;
    color: black;
}

.h2 {
    font-family: 'Samsung Sharp Sans Bold';
    margin: 0px;
    color: black;
    text-align: center;
}

.h5 {
    font-family: 'Samsung Sharp Sans';
    margin: 0px;
    color: black;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

#img-how-to {
    width: auto;
    height: 470px;
    object-fit: contain;
}

.btn-primary {
    font-size: 11px;
    font-family: "SamsungOne-700";
    width: 168px;
    height: 48px;
    border-radius: 23px;
    background-color: #1428A0;
    border:0 ;
}

.btn-primary:hover {
    background-color: #0B175C;
}

#icon-repair {
    height: 114px;
    width: auto;
    object-fit: contain;
}

#icon-change {
    height: 114px;
    width: auto;
    object-fit: contain;
}

#icon-delivery {
    margin-top: 9px;
    margin-bottom: 9px;
    height: 96px;
    width: auto;
    object-fit: contain;
}

.layanan-desc {
    font-family: "SamsungOne-400";
    font-size: 15px;
    text-align: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.layanan-tnc {
    font-family: "SamsungOne-400";
    font-size: 10px;
    text-align: center;
    margin-top: 1rem;
    color: #636363;
}

a {
    color: #1428A0;
}

a:hover {
    color: #0B175C;
}

.vert {
    background-image: linear-gradient(#000, #000);
    background-size: 2px 82%;
    background-repeat: no-repeat;
    background-position: 50px top;
    z-index: 0;
}

.whitespace{
    width: 54px;
    height: 54px;
    min-width: 54px;
    display: inline-block;
}

/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    .section-about {
        margin-top: 0 !important;
    }

    #lifestyle-img {
        width: 100% !important;
    }

    .lifestyle-img {
        padding-left: -2rem;
        padding-top: 48px;
        height: auto !important;
        
    }
    
    .navbar-header {
        width: 100%;
    }

    
    .navbar-nav {
        width: 100%;
    }

    .vert {
        background-image: linear-gradient(#000, #000);
        background-size: 2px 80%;
        background-repeat: no-repeat;
        background-position: 50px top;
        z-index: 0;
    }
}

@media only screen and (max-width: 576px) {

    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    #samsung-care-main {
        font-size: 24px;
        line-height: 30px;
    }

    #samsung-care-desc {
        font-size: 14px;

    }

    .small-title {
        font-size: 20px;
        line-height: 25px;
    }

    .steps-desc {
        font-size: 12px;
    }

    #phone-img {
        display: none;
    }

    #section-about {
        margin-top: 0 !important;
        scroll-margin-top: -82.5px;
    }


    #section-coverage {
        margin-top: 0;
        scroll-margin-top: -82.5px;
    }

    #section-activation {
        margin-top: 0;
        scroll-margin-top: -82.5px;
    }

    .scroll-container {
        scroll-margin-top: 82.5px;
    }

    .nav-link {
        font-size: 10px;
    }

    .nav-icon {
        width: 20px;
        height: auto;
    }

    .navbar-brand {
        margin-left: 4px;
    }

    .navbar-header {
        width: 100%;
    }

    .navbar-nav {
        width: 100%;
    }

    .section-activation-row {
        padding-left: 0 !important;
        padding-right: 0 !important;
                    
    }

    .navbar {
        box-shadow: 0 10px 8px 2px rgba(0, 0, 0, 0.16);
    }

    .vert {
        background-image: linear-gradient(#000, #000);
        background-size: 2px 81%;
        background-repeat: no-repeat;
        background-position: 50px top;
        z-index: 0;
    }
}

@media only screen and (max-width: 367px) {

    .vert {
        background-image: linear-gradient(#000, #000);
        background-size: 2px 75%;
        background-repeat: no-repeat;
        background-position: 50px top;
        z-index: 0;
    }

}
